@use "@styles" as *;

.footer {
  padding-bottom: 4rem;
  &__spacer {
    height: 2px;
    background-color: var(--separator-color);
    margin: 3rem auto;
  }
  &__link-container {
    display: flex;
    > a:not(:last-child) {
      margin-right: 0.375rem;
    }
  }

  &__contents {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
  }
}
