@use "@styles/utils";
@use "@styles/typography";
@import "./detail-mobile-controller.scss";

.detail-main-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  gap: 2rem;
}

.detail-main {
  flex-grow: 1;
  color: var(--text-high-color);
  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--separator-color);
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
  }
  &__title {
    @include typography.h1;
    color: var(--text-high-color);
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: 1.5rem;
    max-width: 80vw;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    &__left {
      display: flex;
      align-items: center;
      gap: 1rem;
      @include typography.caption1;
      svg {
        margin-right: 0.25rem;
      }
    }
    &__right {
      display: flex;
    }
  }

  &__date {
    display: flex;
    align-items: center;
  }
  &__reading-time {
    display: flex;
    align-items: center;
  }
}

.sidebar-container {
  flex-basis: 250px;
  flex-shrink: 0;
  position: sticky;
  height: calc(100vh - 6rem);
  overflow: auto;
  top: 6rem;
  > nav {
    padding-top: 3rem;
    margin-left: auto;
    padding-bottom: 2rem;
  }
}

.mobile-sidebar {
  display: none;
}

@include utils.tablet {
  .detail-main-wrapper {
    gap: unset;
    gap: 1rem;
  }
}

@include utils.mobile {
  .detail-main-wrapper {
    display: block;
    gap: unset;
  }
  .sidebar-container {
    display: none;
    // position: fixed;
    // flex-shrink: unset;
    // bottom: 2rem;
    // right: 2rem;
    // top: unset;
    // height: 3rem;
    // width: 3rem;
  }
}
