@use "@styles/utils";

.mobile-controller {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

  &__button {
    display: flex;
    padding: 0.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary9);
    &:focus {
      background-color: var(--secondary10);
    }
    &:active {
      background-color: var(--secondary10);
    }
  }

  &__arrow {
    fill: var(--ui-el-bg-color);
  }

  &__content {
    width: fit-content;
    width: 250px;
    margin-right: 1rem;
  }
}

@include utils.mobile {
  .mobile-controller {
    display: flex;
  }
}
