@use "@styles/utils";
@use "@styles/typography";

.navigation {
  color: var(--gray12);
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  svg {
    width: 32px;
    height: 32px;
  }
  &__menus {
    display: flex;
    align-items: center;

    > li {
      &:hover {
        > a {
          height: 100%;
          background-color: var(--gray4);
        }
      }
    }

    > li:not(:first-child) {
      > a {
        @include typography.h3;
        @include typography.medium;
        display: block;
        padding: 4px 12px;
        color: var(--gray8);
        border-radius: 0.5rem;
      }
    }
    > li.active {
      > a {
        color: var(--gray12);
        @include typography.bold;
      }
    }
  }
}
