@use "@styles/utils";

.snippet-main {
  width: 100%;
  &__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
}

@include utils.labtop {
}
@include utils.tablet {
  .snippet-main {
    &__card-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@include utils.mobile {
  .snippet-main {
    &__card-list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
