@use "@styles" as *;
// @use "@styles/1-base/functions" as *;
@use "@styles/3-foundations/typography/functions" as *;
@use "@styles/3-foundations/typography/data" as *;

$count: 10;
$list-height: rds-line-height(subtitle1) * rds-font-size(subtitle1) * $count;

.simple-post-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  @include rds-grid(32px);
  @include rds-grid-layout((6), (6));

  @include mobile {
    @include rds-grid(16px);
    @include rds-grid-layout((12), (12));
  }
}

.simple-post-list {
  display: flex;
  flex-direction: column;
  gap: rds-space(space-04);
  max-height: $list-height;
  overflow: auto;
  @include thin-scrollbar;
  padding-top: 8px;
  padding-bottom: 8px;
}

.simple-post {
  display: flex;
  gap: rds-space(space-04);
  align-items: baseline;
  width: fit-content;

  @include pointing-hover {
    .simple-post {
      &__date,
      &__title {
        color: var(--primary11);
      }
    }
  }
}
