@use "@styles" as *;

.mobile-controller {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;

  &__button {
    display: flex;
    padding: rds-space(space-12);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--secondary9);
    &:focus {
      background-color: var(--secondary10);
    }
    &:active {
      background-color: var(--secondary10);
    }
  }

  &__arrow {
    fill: var(--ui-el-bg-color);
  }

  &__content {
    width: fit-content;
    width: 250px;
    margin-right: rds-space(space-16);
  }
}

@include mobile {
  .mobile-controller {
    display: flex;
  }
}
