@use "@styles" as *;
@import "./detail-mobile-controller.scss";

.detail-main-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  &--aside {
    @include rds-grid(16px);
    @include rds-grid-layout((9), (3));
  }
}

.detail-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: rds-space(space-32);
  border-bottom: 2px solid var(--separator-color);
  padding-bottom: rds-space(space-24);
  padding-top: rds-space(space-24);
}

.detail-header {
  &__date,
  &__reading-time,
  &__view-count {
    display: flex;
    align-items: center;
    color: var(--text-high-color);
    > span {
      width: max-content;
    }
  }
  &__view-count {
    color: var(--text-high-color);
    > .skeleton {
      width: 24px;
    }
  }
  &__title {
    @include rds-h1;
    color: var(--text-high-color);
    font-size: 2.5rem;
    margin: auto;
    margin-bottom: rds-space(space-24);
    max-width: 80vw;
  }
  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include rds-grid(16px);
    @include rds-grid-layout((9), (3));
  }

  &__meta {
    display: flex;
    align-items: center;
    gap: rds-space(space-16);
    @include rds-caption1;
    svg {
      margin-right: rds-space(space-04);
    }
    align-self: flex-end;
  }
  &__tag-container {
    display: flex;
    gap: 4px;
    overflow: auto;
    @include thin-scrollbar;
  }
}

.sidebar-container {
  position: sticky;
  height: calc(100vh - 6rem);
  overflow: auto;
  top: rds-space(space-96);
  > nav {
    padding-top: rds-space(space-48);
    margin-left: auto;
    padding-bottom: rds-space(space-32);
  }
}

.mobile-sidebar {
  display: none;
}

@include tablet {
  .detail-main-wrapper {
    gap: unset;
    display: block;
  }
  .sidebar-container {
    display: none;
  }
}

@include mobile {
  .detail-header-wrapper {
    display: block;
    gap: unset;
  }

  .detail-header-wrapper {
    display: block;
    gap: unset;
  }
  .detail-header {
    &__title {
      font-size: 2.5rem;
      color: var(--text-high-color);
      width: 100vw;
      margin: 0;
      min-width: calc(100vw - 32px);
      padding-left: rds-space(space-16);
      padding-right: rds-space(space-16);
      margin-bottom: rds-space(space-24);
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
  .sidebar-container {
    display: none;
  }
}
