@use "@styles" as *;

$postcard-shape: rds-shape(secondary);

.post-card {
  position: relative;
  border-radius: $postcard-shape;
  padding: rds-space(space-16);
  max-width: 100%;
  cursor: pointer;
  @include rds-grid();
  @include rds-grid-layout((2), (8), (2));

  &__meta {
    min-width: 92px;
    display: flex;
    flex-direction: column;
    > span:first-child {
      margin-top: rds-space(space-04);
    }
    &__reading-time {
      @include rds-body1;
      @include medium;
      color: var(--text-high-color);
    }
    &__created-at {
      @include rds-caption1;
      color: var(--text-low-color);
      margin-top: rds-space(space-08);
    }
  }
  &__content {
    &__title {
      @include rds-h3;
      color: var(--text-high-color);
      display: flex;
      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &__link {
      :focus {
        outline: none;
      }
    }
    &__description {
      // @include rds-body1;
      color: var(--text-low-color);
    }
    &__tag-container {
      margin-top: rds-space(space-08);
      display: flex;
      gap: rds-space(space-08);
    }
  }
  &__link {
    min-width: 92px;
    color: var(--text-high-color);
  }
  @include pointing-hover {
    background-color: var(--ui-el-hovered-bg-primary-color);
    .post-card__content__title {
      color: var(--text-low-primary-color);
    }
    .post-card__link {
      text-decoration: underline;
    }
  }
  &:active {
    background-color: var(--ui-el-hovered-bg-primary-color);
    .post-card__content__title {
      color: var(--text-low-primary-color);
    }
    .post-card__link {
      text-decoration: underline;
    }
  }

  &:focus-within {
    outline: 2px solid var(--ui-el-selected-bg-primary-color);
    .post-card__content__link {
      outline: none;
    }
    .post-card__content__title {
      color: var(--text-low-primary-color);
    }
    .post-card__link {
      text-decoration: underline;
    }
  }
  @include tablet {
    &__link {
      display: none;
    }
  }
  @include mobile {
    @include rds-grid-layout((2), (10));
    &__link {
      display: none;
    }
  }
}
