@use "@styles" as *;

$postcard-shape: rds-shape(secondary);

.post-card {
  position: relative;
  border-radius: $postcard-shape;
  padding: rds-space(space-16);
  max-width: 100%;
  cursor: pointer;
  border: 1px solid var(--ui-static-border-color);
  @include rds-grid();
  @include rds-grid-layout((2), (10));

  &__meta {
    min-width: 92px;
    display: flex;
    flex-direction: column;
    > span:first-child {
      margin-top: rds-space(space-04);
    }
    &__reading-time {
      @include rds-body1;
      @include medium;
      color: var(--text-high-color);
    }
    &__created-at {
      color: var(--text-low-color);
      margin-top: rds-space(space-08);
    }
  }
  &__content {
    &__title {
      color: var(--text-high-color);
      display: flex;
      > a {
        &:focus {
          outline: none;
        }
      }
      @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }
    &__description {
      color: var(--text-low-color);
    }
    &__tag-container {
      margin-top: rds-space(space-08);
      display: flex;
      flex-wrap: wrap;
      gap: rds-space(space-08);
    }
  }
  @include pointing-hover {
    background-color: var(--ui-el-hovered-bg-primary-color);
    border-color: var(--ui-interactive-border-primary-color);
    .post-card__content__title {
      color: var(--text-low-primary-color);
    }
    .post-card__link {
      text-decoration: underline;
    }
  }
  &:active {
    background-color: var(--ui-el-hovered-bg-primary-color);
    .post-card__content__title {
      color: var(--text-low-primary-color);
    }
    .post-card__link {
      text-decoration: underline;
    }
  }

  &:focus-within {
    outline: 2px solid var(--ui-el-selected-bg-primary-color);
    .post-card__content__link {
      outline: none;
    }
    .post-card__content__title {
      color: var(--text-low-primary-color);
    }
    .post-card__link {
      text-decoration: underline;
    }
  }
  @include tablet {
  }
  @include mobile {
    @include rds-grid-layout((2), (10));
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;

    &__content {
      &__title {
        @supports (-webkit-line-clamp: 1) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: initial;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
