@use "@styles" as *;

.tag {
  padding: rds-space(space-04) rds-space(space-08);
  @include rds-caption1;
  @include medium;
  border-radius: rds-shape(primary);
  $palettes: "gray", "primary", "secondary", "tertiary";
  @each $palette in $palettes {
    &.tag-#{$palette} {
      color: var(--text-low-#{$palette}-color);
      background-color: var(--ui-el-active-bg-#{$palette}-color);
    }
  }
}
