@mixin bold {
  font-weight: 700;
}

@mixin medium {
  font-weight: 500;
}

@mixin regular {
  font-weight: 400;
}

/** 32px */
@mixin h1 {
  @include bold;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 28px */
@mixin h2 {
  @include bold;
  font-size: 1.75rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 22px */
@mixin h3 {
  @include bold;
  font-size: 1.375rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 18px */
@mixin h4 {
  @include bold;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 16px */
@mixin h5 {
  @include bold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 15px */
@mixin h6 {
  @include bold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 18px */
@mixin subtitle1 {
  @include bold;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 16px */
@mixin subtitle2 {
  @include bold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 15px */
@mixin subtitle3 {
  @include bold;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: -0.03125rem;
}

/** 14px */
@mixin body1 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

@mixin body2 {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.25px;
}

/** 12px */
@mixin caption1 {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.25px;
}

/** 10px */
@mixin caption2 {
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: -0.25px;
}
