@mixin box($width, $height: $width, $radius: 0) {
  width: $width;
  height: $height;
  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ""
) {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}

// /* ===== Usage ===== */
// div {
//   position: relative;
//   width: 200px;
//   height: 200px;

//   &:after {
//     @include pseudo(100px, 100px);
//   }
// }

$tablet: 768;
$labtop: 1024;
$desktop: 1280;

@mixin mobile {
  @media only screen and (max-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: ($labtop * 1px)) {
    @content;
  }
}

@mixin labtop {
  @media only screen and (max-width: (($desktop) * 1px)) {
    @content;
  }
}

@mixin pointing-hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin full-width {
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 90rem;

  // 1025 ~ 1280 ->
  @include labtop {
    // width: 960px;
    padding-left: 2rem;
    // padding-right: 2rem;
    // max-width: 80rem;
    width: 100vw;
  }

  // 769 ~ 1024 ->
  @include tablet {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 64rem;
  }

  @include mobile {
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
