@import "@styles/reset.css";
@import "@styles/utils";
@import "@styles/color";
@import "@styles/theme/light.scss";
@import "@styles/theme/dark.scss";

/* components */
@import "@styles/components/index.scss";

/* mdx */
@import "@styles/mdx.scss";

/* pages */
@import "@styles/page/index.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;

  scroll-padding-top: 5.625rem;

  @include tablet {
    scroll-padding-top: 4.625rem;
  }

  @include mobile {
    scroll-padding-top: 3.1875rem;
  }
}

body {
  transition: background-color 0.25s linear;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: var(--app-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

*:focus-visible {
  border-radius: 0.25rem;
  outline: 2px solid var(--solid-hovered-bg-primary-color);
}

// mobile(default): 0 ~ 768
#app {
  > section {
    width: 100%;
    margin: 0 auto;
  }
}

.inner {
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 90rem;

  // 1025 ~ 1280 ->
  @include labtop {
    // width: 960px;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 80rem;
  }

  // 769 ~ 1024 ->
  @include tablet {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 64rem;
  }

  @include mobile {
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
