@use "@styles" as *;

@include reset;

/* mdx */
@import "@styles/0-plugins";

/* theme */
@import "@styles/2-theme";

/* pages */
@import "@styles/5-page";

/* components */
@import "@styles/4-components";

/* utils */
@import "@styles/6-utils";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  // scroll-behavior: smooth;
  overflow-y: scroll;

  scroll-padding-top: 5.625rem;

  @include tablet {
    scroll-padding-top: 4.625rem;
  }

  @include mobile {
    scroll-padding-top: 3.375rem;
  }
}

body {
  transition: background-color 0.25s linear;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: var(--app-bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

// *:focus {
*:focus-visible {
  border-radius: rds-shape(primary);
  outline: 2px solid var(--solid-hovered-bg-primary-color);
}

// mobile(default): 0 ~ 768
#app {
  > section {
    width: 100%;
    margin: 0 auto;
  }
}

.inner {
  margin: 0 auto;
  padding-left: rds-space(space-80);
  padding-right: rds-space(space-80);
  max-width: 80rem;

  // 1025 ~ 1280 ->
  @include labtop {
    // width: 960px;
    padding-left: rds-space(space-32);
    padding-right: rds-space(space-32);
    max-width: 80rem;
  }

  // 769 ~ 1024 ->
  @include tablet {
    padding-left: rds-space(space-24);
    padding-right: rds-space(space-24);
    max-width: 64rem;
  }

  @include mobile {
    max-width: 48rem;
    padding-left: rds-space(space-16);
    padding-right: rds-space(space-16);
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  border-radius: 0.25rem;
}

button {
  cursor: pointer;
}
