@use "@styles" as *;

.document-toc-container {
  display: flex;
  padding: rds-space(space-16);
  background-color: var(--ui-el-bg-color);
  border-radius: 1rem;
  transition: background-color 0.25s linear;
}

.document-toc {
  color: var(--text-low-color);
  @include rds-body2;
  &__header {
    @include bold;
    @include rds-body1;
    color: var(--text-high-color);
    margin-bottom: rds-space(space-08);
  }
  &__item {
    margin-bottom: rds-space(space-04);
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: rds-space(space-04);
    }

    // &:has(.active) {
    //   color: var(--secondary11);
    //   @include medium;
    // }
  }
  &__link {
    padding-top: rds-space(space-08);
    padding-bottom: rds-space(space-08);
  }
  &__nested-list {
    margin-left: 0.75rem;
    //
  }
  &__nested-item {
    display: flex;
    flex-direction: column;
    color: var(--text-low-color);
  }
  &__nested-link {
    padding-top: rds-space(space-04);
    padding-bottom: rds-space(space-04);
  }
  &__link,
  &__nested-link {
    @include pointing-hover {
      &:hover {
        color: var(--secondary10);
      }
    }
  }

  .active {
    // @include medium;
    color: var(--secondary11);
  }
}
