@use "@styles" as *;

@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap");

@media (prefers-color-scheme: dark) {
  :root {
    div[data-rehype-pretty-code-fragment] {
      pre[data-theme="light"],
      code[data-theme="light"] {
        display: none;
      }
      div[data-theme="dark"] {
        display: none;
      }
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    div[data-rehype-pretty-code-fragment] {
      pre[data-theme="dark"],
      code[data-theme="dark"] {
        display: none;
      }
      div[data-theme="dark"] {
        display: none;
      }
    }
  }
}

.dark-theme {
  div[data-rehype-pretty-code-fragment] {
    pre[data-theme="light"],
    div[data-theme="light"],
    code[data-theme="light"] {
      display: none;
    }

    pre[data-theme="dark"],
    code[data-theme="dark"] {
      display: grid;
    }
    div[data-theme="dark"] {
      display: flex;
    }
  }
}

.light-theme {
  div[data-rehype-pretty-code-fragment] {
    pre[data-theme="dark"],
    div[data-theme="dark"],
    code[data-theme="dark"] {
      display: none;
    }

    pre[data-theme="light"],
    code[data-theme="light"] {
      display: grid;
    }
    div[data-theme="light"] {
      display: flex;
    }
  }
}

.mdx-h1 {
  @include rds-h1;
}

.mdx-h2 {
  @include rds-h2;
}
.mdx-h3 {
  @include rds-h3;
}
.mdx-h4 {
  @include rds-h4;
}
.mdx-h5 {
  @include rds-h5;
}
.mdx-h6 {
  @include rds-h6;
}

.mdx-h1,
.mdx-h2,
.mdx-h3,
.mdx-h4,
.mdx-h5,
.mdx-h6 {
  color: var(--text-high-color);
}

.mdx-ol,
.mdx-ul,
.mdx-li,
.mdx-em,
.mdx-strong,
.mdx-p {
  color: var(--text-low-color);
  @include rds-body1;
}

.mdx-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.mdx-img {
  border-style: none;
  border: 0;
  border-radius: var(--box-border-radius);
  vertical-align: middle;
  margin: 2px 0;
  object-fit: containe;
  max-width: 600px;
}

.mdx-img-alt {
  color: var(--text-low-color);
  @include bold;
}

.mdx-em {
  font-style: italic;
}

.mdx-strong {
  @include bold;
}

.mdx-p {
  margin: 0.75rem auto;
  display: block;
}

.mdx-strong {
  color: var(--text-highcolor);
}

.mdx-p,
.mdx-a {
  @include regular;
  font-size: 1rem;
  font-weight: 400;
}

.mdx-a {
  text-decoration: none;
  @include bold;
  color: var(--text-low-primary-color);
}

.mdx-a:active,
.mdx-a:hover {
  outline-width: 0;
  outline: 0;
}

.mdx-a:active,
.mdx-a:focus,
.mdx-a:hover {
  text-decoration: underline;
  color: var(--text-low-primary-color);
}

.mdx-ul,
.mdx-ol {
  margin: 0.75rem auto;
  padding: 0 1.5rem;
}
.mdx-ul {
  list-style-type: disc;
}
.mdx-ol {
  list-style-type: decimal;
}
.mdx-li {
  margin: 0.5rem auto;
}

div[data-rehype-pretty-code-fragment] {
  margin: rds-space(space-16) auto;
  div[data-rehype-pretty-code-title] {
    margin-top: 8px;
    justify-content: center;
    color: var(--text-high-color);
    @include rds-subtitle1;
    @include bold;
    background-color: red;
    border-top-left-radius: rds-shape(primary);
    border-top-right-radius: rds-shape(primary);
    padding: rds-space(space-04) rds-space(space-08);
    background-color: var(--gray7);
    transform: translateY(2px);
    position: relative;
    &::before {
      content: " ";
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      position: absolute;
      transform: translateY(50%);
      left: 12px;
      background: var(--gray10);
      transition-property: background;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }
    &::after {
      content: " ";
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      position: absolute;
      transform: translateY(50%);
      left: 32px;
      background: var(--gray10);
      transition-property: background;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }
  }
  div[data-rehype-pretty-code-caption] {
    margin-top: 8px;
    justify-content: center;
    color: var(--text-low-color);
    @include rds-body2;
    @include bold;
  }
  &:focus-within {
    pre {
      box-shadow: 0px 10px 20px -10px var(--yellow9);
      transition-property: box-shadow;
      transition-duration: 200ms;
      transition-timing-function: ease-out;
    }
    div[data-rehype-pretty-code-title] {
      &::before {
        background: #ff605c;
        transition-property: background;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
      }
      &::after {
        background-color: #00ca4e;
        transition-property: background;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
      }
    }
  }
}
.mdx-code,
.mdx-pre {
  font-family: "Fira Code", monospace;
  background-color: transparent;
}
.mdx-code {
  padding: 0.2em 0;
  margin: 0;
  background-color: var(--ui-el-bg-primary-color);
  border-radius: var(--box-border-radius);
  color: var(--text-low-primary-color);
}
.mdx-pre {
  overflow: auto;
  box-shadow: 0px 10px 20px -10px var(--secondary9);
  transition-property: box-shadow;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  border-radius: rds-shape(primary);
  position: relative;
  &__container {
    overflow: auto;
    padding: 1rem;
    @include thin-scrollbar;
  }
  &__lang {
    position: absolute;
    right: 0rem;
    top: 0rem;
    padding: rds-space(space-04) rds-space(space-08);
    background-color: var(--secondary3);
    border-bottom-left-radius: rds-shape(primary);
    opacity: 0.75;
  }
}

.mdx-pre .mdx-code {
  background: transparent;

  counter-reset: line;
  span[data-line] {
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding-left: 1rem;
    line-height: 2;
    font-size: 14px;
    > span {
      font-size: 14px;
    }
  }
  span[data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 1rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
  }
  span[data-highlighted-line] {
    background-image: linear-gradient(
      to right,
      var(--primary7),
      var(--secondary7),
      var(--tertiary7)
    );
  }
  span[data-highlighted-chars] {
    @include bold;
    padding-top: rds-space(space-04);
    padding-bottom: rds-space(space-02);
    padding: rds-space(space-04) rds-space(space-04) rds-space(space-02)
      rds-space(space-04);
    border-radius: rds-shape(primary);
  }

  $colors: "primary", "secondary", "tertiary", "yellow", "blue", "brown",
    "green", "orange", "pink", "purple", "red", "cyan", "gray", "crimson",
    "slate";
  @each $color in $colors {
    span[data-chars-id="#{$color}"] {
      background-color: var(--#{$color}6);
      color: var(--#{$color}10);
      border-bottom: 2px solid var(--#{$color}8);
    }
  }
}

.mdx-pre .mdx-code::before,
.mdx-pre .mdx-code::after {
  content: normal;
}

.mdx-code::before,
.mdx-code::after {
  content: "\00a0";
}

@include mobile {
  .mdx-code,
  .mdx-pre {
    font-size: 95%;
  }
  .mdx-pre .mdx-code {
    span[data-line]::before {
      display: none;
    }
  }
}

.mdx-a > .mdx-em,
.mdx-a > .mdx-strong {
  font-size: 0.875rem;
  font-style: normal;
  @include medium;
  letter-spacing: 0.09em;
  line-height: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0 8px;
  margin: 4px;
  min-width: 64px;
  height: 36px;
  border-radius: var(--box-border-radius);
  transition: all 0.3s;
  color: var(--text-low-primary-color);
}

.mdx-a > .mdx-em {
  background-color: transparent;
}

.mdx-a > .mdx-strong {
  background-color: var(--ui-el-bg-primary-color);
}

.mdx-a > .mdx-em:hover {
  box-shadow: inset 0 0 0 99em rgba(0, 0, 0, 0.06);
}

.mdx-a > .mdx-strong:hover {
  background-color: var(--ui-el-hovered-bg-primary-color);
  box-shadow: inset 0 0 0 99em rgba(255, 255, 255, 0.24);
}

.mdx-blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  border-left: 0.25rem solid var(--solid-bg-tertiary-color);
  color: #d4d4d4;
  padding-left: 1em;
  > .p {
    line-height: 2rem;
    font-style: italic;
    color: var(--text-high-color);
    @include bold;
  }
}

.vblockquote > .mdx-p:not(:only-child),
.vblockquote > .mdx-h5,
.vblockquote > .mdx-h6 {
  width: 300px;
}

.mdx-blockquote > .mdx-p:only-child > .mdx-a > .mdx-em {
  text-align: left;
}

.mdx-blockquote .mdx-img {
  max-height: 200px;
  cursor: pointer;
}

.mdx-blockquote .mdx-img:active {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95%;
  max-height: 95%;
  border: 100vh solid #fff;
}

.mdx-hr {
  height: 2px;
  background-color: var(--separator-color);
  border: none;
  margin: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  margin: 3rem auto;
}

.mdx-br {
  display: block;
  width: 100%;
  height: 18px;
  background-color: red;
}

.mdx-admonition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0px;
  border-left: 5px;
  border-style: solid;
  margin-bottom: 1rem;
  padding: rds-space(space-16);
  border-radius: rds-shape(primary);

  &__icon {
    display: flex;
    align-items: center;
    margin-bottom: rds-space(space-04);
    > svg {
      margin-right: rds-space(space-06);
      color: var(--text-high-primary-color);
    }
  }
  &--tip {
    background-color: var(--green6);
    border-color: var(--green10);
  }
  &--danger {
    background-color: var(--red6);
    border-color: var(--red10);
  }
  &--info {
    background-color: var(--blue6);
    border-color: var(--blue10);
  }
  &--caution {
    background-color: var(--yellow6);
    border-color: var(--yellow10);
  }
  .mdx-p {
    margin: 0;
    color: var(--text-high-primary-color);
  }
}

// table {
//   margin: 0.75rem;
//   border-spacing: 0;
//   border-radius: 4px;
//   border-radius: var(--bf-radius);
//   box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
//     0 1px 3px 0 rgba(0, 0, 0, 0.12);
//   display: inline-block;
// }

// table th {
//   font-weight: bold;
// }

// table td {
//   border-top-width: 1px;
//   border-top-style: solid;
//   border-color: rgba(0, 0, 0, 0.12);
//   border-color: var(--bf-line);
// }

// table th,
// table td {
//   text-align: left;
//   padding: 0.9rem 1.25rem;
// }

// table > tbody > tr:hover {
//   background-color: rgba(0, 0, 0, 0.04);
//   background-color: var(--bf-fill);
// }

.mdx {
  h1 {
    @include rds-h1;
  }

  h2 {
    @include rds-h2;
  }
  h3 {
    @include rds-h3;
  }
  h4 {
    @include rds-h4;
  }
  h5 {
    @include rds-h5;
  }
  h6 {
    @include rds-h6;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--text-high-color);
  }

  ol,
  ul,
  li,
  em,
  strong,
  p {
    color: var(--text-low-color);
    @include rds-body1;
  }

  img {
    border-style: none;
    border: 0;
    max-width: 100%;
    border-radius: var(--box-border-radius);
    vertical-align: middle;
    margin: 2px 0;
  }

  em {
    font-style: italic;
  }

  strong {
    @include bold;
  }

  p {
    margin: 0.75rem auto;
  }

  strong {
    color: var(--text-high-color);
  }

  p,
  a {
    @include regular;
    font-size: 1rem;
    font-weight: 400;
  }

  a {
    text-decoration: none;
    @include bold;
    color: var(--text-low-primary-color);
  }

  a:active,
  a:hover {
    outline-width: 0;
    outline: 0;
  }

  a:active,
  a:focus,
  a:hover {
    text-decoration: underline;
    color: var(--text-low-primary-color);
  }

  ul,
  ol {
    margin: 0.75rem auto;
    padding: 0 1.5rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  li {
    margin: 0.5rem auto;
  }

  code,
  pre {
    font-family: "Fira Code", monospace;
    font-size: 90%;
    background-color: transparent;
  }

  code {
    padding: 0.2em 0;
    margin: 0;
    background-color: var(--ui-el-bg-primary-color);
    border-radius: var(--box-border-radius);
    color: var(--text-low-primary-color);
  }

  pre {
    margin: 0.75rem auto;
    overflow: auto;
  }

  pre code {
    background: transparent;
  }

  pre code::before,
  pre code::after {
    content: normal;
  }

  code::before,
  code::after {
    content: "\00a0";
  }

  a > em,
  a > strong {
    font-size: 0.875rem;
    font-style: normal;
    @include medium;
    letter-spacing: 0.09em;
    line-height: 2.25rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 0 8px;
    margin: 4px;
    min-width: 64px;
    height: 36px;
    border-radius: var(--box-border-radius);
    transition: all 0.3s;
    color: var(--text-low-primary-color);
  }

  a > em {
    background-color: transparent;
  }

  a > strong {
    background-color: var(--ui-el-bg-primary-color);
  }

  a > em:hover {
    box-shadow: inset 0 0 0 99em rgba(0, 0, 0, 0.06);
  }

  a > strong:hover {
    background-color: var(--ui-el-hovered-bg-primary-color);
    box-shadow: inset 0 0 0 99em rgba(255, 255, 255, 0.24);
  }

  blockquote {
    quotes: "\201C""\201D""\2018""\2019";
    border-left: 0.25rem solid var(--solid-bg-tertiary-color);
    color: #d4d4d4;
    padding-left: 1em;
    > .p {
      line-height: 2rem;
      font-style: italic;
      color: var(--text-high-color);
      @include bold;
    }
  }

  .vblockquote > p:not(:only-child),
  .vblockquote > h5,
  .vblockquote > h6 {
    width: 300px;
  }

  blockquote > p:only-child > a > em {
    text-align: left;
  }

  blockquote img {
    max-height: 200px;
    cursor: pointer;
  }

  blockquote img:active {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    max-height: 95%;
    border: 100vh solid #fff;
  }

  hr {
    height: 2px;
    background-color: var(--separator-color);
    border: none;
    margin: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    margin: 3rem auto;
  }
}
