.anchor {
  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--solid-hovered-bg-primary-color);
    &::after {
      display: inline;
      content: "#";
      margin-left: 4px;
      color: var(--solid-hovered-bg-primary-color);
    }
  }
}
