@use "@styles" as *;

.index-main {
  width: 100%;
  &__mdx-wrapper {
    flex-basis: 450px;
    flex-shrink: 1;
  }

  &__card-list {
    margin-top: rds-space(space-32);
    > h2 {
      @include rds-h2;
      color: var(--text-high-color);
    }
    display: flex;
    flex-direction: column;
    max-width: 100%;
    > .post-container {
      margin-top: rds-space(space-16);
      display: flex;
      flex-wrap: wrap;
      gap: rds-space(space-16);
      > .post-card {
        width: calc((100% - rds-space(space-16)) / 2);
      }
    }
  }
}

@include tablet {
  .index-main {
    &__mdx-wrapper {
      margin-bottom: 2rem;
      flex-basis: unset;
    }
    &__card-list {
      max-width: inherit;
      > .post-container {
        margin-top: rds-space(space-08);
        .post-card {
          width: 100%;
        }
      }
    }
  }
}

@include mobile {
  .index-main {
    &__mdx-wrapper {
      margin-bottom: 2rem;
      flex-basis: unset;
    }
    &__card-list {
      margin-top: rds-space(space-16);
      .post-container {
        width: 100vw;
        margin-left: -16px;
        gap: unset;
        > .post-card {
          margin-top: -1px;
        }
      }
    }
  }
}
