@mixin box($width, $height: $width, $radius: 0) {
  width: $width;
  height: $height;
  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin cover-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ""
) {
  content: $content;
  display: $display;
  position: $pos;
  @include box($width, $height);
}

// /* ===== Usage ===== */
// div {
//   position: relative;
//   width: 200px;
//   height: 200px;

//   &:after {
//     @include pseudo(100px, 100px);
//   }
// }

$tablet: 768;
$labtop: 1024;
$desktop: 1280;

@mixin mobile {
  @media only screen and (max-width: ($tablet * 1px)) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (max-width: ($labtop * 1px)) {
    @content;
  }
}

@mixin labtop {
  @media only screen and (max-width: (($desktop) * 1px)) {
    @content;
  }
}

@mixin pointing-hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin fade($type) {
  @if $type== "hide" {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 1s;
  } @else if $type== "show" {
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
  }
}

@mixin full-width {
  margin: 0 auto;
  padding-left: 5rem;
  padding-right: 5rem;
  max-width: 90rem;

  // 1025 ~ 1280 ->
  @include labtop {
    // width: 960px;
    padding-left: 2rem;
    // padding-right: 2rem;
    // max-width: 80rem;
    width: 100vw;
  }

  // 769 ~ 1024 ->
  @include tablet {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 64rem;
  }

  @include mobile {
    max-width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@mixin reset {
  /***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

  /*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
  *:where(
      :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
  }

  /* Preferred box-sizing value */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Reapply the pointer cursor for anchor tags */
  a,
  button {
    cursor: revert;
  }

  /* Remove list styles (bullets/numbers) */
  ol,
  ul,
  menu {
    list-style: none;
  }

  /* For images to not be able to exceed their container */
  img {
    max-inline-size: 100%;
    max-block-size: 100%;
  }

  /* removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }

  /* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
  input,
  textarea {
    -webkit-user-select: auto;
  }

  /* revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

  /* minimum style to allow to style meter element */
  meter {
    -webkit-appearance: revert;
    appearance: revert;
  }

  /* preformatted text - use only for this feature */
  :where(pre) {
    all: revert;
  }

  /* reset default text opacity of input placeholder */
  ::placeholder {
    color: unset;
  }

  /* remove default dot (•) sign */
  ::marker {
    content: initial;
  }

  /* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
  :where([hidden]) {
    display: none;
  }

  /* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
  :where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
  }

  /* apply back the draggable feature - exist only in Chromium and Safari */
  :where([draggable="true"]) {
    -webkit-user-drag: element;
  }

  /* Revert Modal native behavior */
  :where(dialog:modal) {
    all: revert;
  }
}
