@use "@styles" as *;

$category-list-height: rds-rem(480px);

.category-list {
  display: flex;
  flex-direction: column;
  color: var(--text-high-color);
  &__left {
    overflow: hidden;
  }
  &__container {
    max-height: $category-list-height;
    display: flex;
    overflow: auto;
    min-height: 100%;
    padding-top: rds-space(space-16);
    padding-bottom: rds-space(space-16);
    @include thin-scrollbar;
  }
  &__item {
    display: block;
    &:not(:first-child) {
      margin-left: rds-space(space-08);
    }
    &:first-child {
      > .category-list__link {
        margin-left: -8px;
      }
    }
    &:focus {
      background-color: red;
      color: red;
    }
  }
  &__link {
    display: block;
    width: max-content;
    padding-left: rds-space(space-08);
    padding-right: rds-space(space-08);
    cursor: pointer;
    color: var(--text-low-color);
    &--active {
      color: var(--text-low-primary-color);
    }
    @include pointing-hover {
      text-decoration: underline;
      color: var(--text-low-primary-color);
    }
  }
  &__name {
    color: inherit;
  }

  &__right {
    color: var(--text-high-color);
    overflow: hidden;
    margin-top: rds-space(space-32);
  }
  &__posts {
    max-height: $category-list-height;
    padding-bottom: rds-space(space-16);
    padding-top: rds-space(space-16);

    overflow: auto;
    margin-top: rds-space(space-16);
    padding-top: rds-space(space-16);
    padding-bottom: rds-space(space-16);
    @include thin-scrollbar;
    display: flex;
    flex-wrap: wrap;
    gap: rds-space(space-16);
    > li {
      width: calc((100% - rds-space(space-16)) / 2);
    }
  }
}

@include tablet {
  .category-list {
    &__left {
      overflow: visible;
    }
    &__container {
      flex-direction: row;
      overflow: auto;
      margin-top: 0px;
      min-height: unset;
    }
    &__right {
      margin-top: rds-space(space-16);
      overflow: visible;
    }
    &__posts {
      > li {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .category-list {
    &__container {
      width: calc(100vw);
      margin-left: -16px;
      margin-right: -16px;
      padding-left: rds-space(space-16);
      padding-right: rds-space(space-16);
      &::-webkit-scrollbar-track {
        margin-left: rds-space(space-16);
        margin-right: rds-space(space-16);
      }
    }
    &__posts {
      width: 100vw;
      margin-left: -16px;
      > li {
        width: 100%;
      }
    }
  }
}
