@use "@styles" as *;

.post-list {
  display: flex;
  flex-direction: column;
  color: var(--text-high-color);
  &__cateegory-section {
    overflow: hidden;
  }
  &__category-list {
    display: flex;
    overflow: auto;
    min-height: 100%;
    padding-top: rds-space(space-16);
    padding-bottom: rds-space(space-16);
    margin-left: calc(-1 * rds-space(space-08));
    @include thin-scrollbar;
  }
  &__category-item {
    display: block;
    &:not(:first-child) {
      margin-left: rds-space(space-08);
    }
    &:first-child {
      > .cateegory-section__link {
        margin-left: calc(-1 * rds-space(space-08));
      }
    }
    &:focus {
      background-color: red;
      color: red;
    }
  }
  &__link {
    display: block;
    width: max-content;
    padding-left: rds-space(space-08);
    padding-right: rds-space(space-08);
    cursor: pointer;
    color: var(--text-low-color);
    &--active {
      color: var(--text-low-primary-color);
    }
    @include pointing-hover {
      text-decoration: underline;
      color: var(--text-low-primary-color);
    }
  }
  &__name {
    color: inherit;
  }

  &__post-section {
    color: var(--text-high-color);
    overflow: hidden;
  }
  &__posts {
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: rds-space(space-16);
    padding-bottom: rds-space(space-16);
    @include thin-scrollbar;
    display: flex;
    flex-wrap: wrap;
    gap: rds-space(space-16);
    > li {
      width: calc((100% - rds-space(space-16)) / 2);
    }
  }
}

@include tablet {
  .post-list {
    &__cateegory-section {
      overflow: visible;
    }
    &__category-list {
      flex-direction: row;
      overflow: auto;
      margin-top: 0px;
      min-height: unset;
    }
    &__post-section {
      margin-top: rds-space(space-16);
      overflow: visible;
    }
    &__posts {
      > li {
        width: 100%;
      }
    }
  }
}

@include mobile {
  .post-list {
    &__category-list {
      width: calc(100vw);
      margin-left: -16px;
      margin-right: -16px;
      padding-left: rds-space(space-16);
      padding-right: rds-space(space-16);
      &::-webkit-scrollbar-track {
        margin-left: rds-space(space-16);
        margin-right: rds-space(space-16);
      }
    }
    &__posts {
      gap: unset;
      width: 100vw;
      margin-left: -16px;
      > li {
        width: 100%;
        > .post-card {
          margin-top: -1px;
        }
      }
    }
  }
}
